/* =======================    GLOBAL STYLES ======================= */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f7;
    color: #333;
    height: 100%;

}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

/* =======================    ADMIN LAYOUT STYLES ======================= */
.admin-layout {
    display: flex;
    height: 100%; /* Ensures content starts below the fixed header */
}

.admin-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Width of sidebar + padding */
}

